<!doctype html>
<html>
    <head>
        <title>Mead</title>
        {{#if showTests}}
            <link rel="stylesheet" href="/vendor/mocha.css">
        {{/if}}
        {{{_sections.head}}}
    </head>
    <body>

        <div class="container">
            <header>
                <!--
                <img src="/img/logo.png" alt="Meadowlark Travel logo" width="32px" height="32px">
                -->
                <svg width="100" height="100">
                    <circle cx="50" cy="50" r="40" stroke="green" stroke-width="4" fill="yellow" />
                </svg>
            </header>
            {{{body}}}
            <footer>&copy;{{copyrightYear}} Meadowlark Travel</footer>
        </div>

        {{#if showTests}}
            <div id="mocha"></div>
            <script src="/vendor/mocha.js"></script>
            <script src="/vendor/chai.js"></script>
            <script>
                mocha.ui('tdd');
                var assert=chai.assert;
            </script>
            <script src="/qa/tests-global.js"></script>
            {{#if pageTestScript}}
                <script src="{{pageTestScript}}"></script>
            {{/if}}
            <script>mocha.run();</script>
        {{/if}}

        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        {{{_sections.jquery}}}

    </body>
</html>